$magenta: #c678dd;
$red: #e06c75;
$red-dark: #be5046;
$orange: #d19966;
$yellow: #e5c07b;
$green: #98c379;
$blue: #61afee;
$cyan: #56b6c2;
$white: #abb2bf;
$clay: #6d8eb5;
$gray: #5c6371;
$gray-dark: #3b4047;
$gray-dark-selected: #4e5562;

meta {
  -theme-interface-style: dark;
  -theme-vibrancy: none;
  -theme-accent-color: true;
}

/*
* Window styles
*/

meta.window {
  background-color: #20242a;
  border-color: rgba(0, 0, 0, 0.1);
}
meta.titlebar {
  color: #b8c2cc;
  background: #20242a;
  border-color: rgba(0, 0, 0, 0.6);
}
meta.titlebar.inactive {
  background-color: #20242a;
}
meta.button {
  background: linear-gradient(#4e5257, #3c3f42);
  border: linear-gradient(#292c2e, #202224);
  color: white;
}
meta.button.highlighted {
  background: linear-gradient(#656b70, #53575c);
  color: white;
}
meta.button.selected {
  color: white;
}
meta.button.highlighted.selected {
  color: white;
}
meta.button.disabled {
  background: linear-gradient(#4e5257, #3c3f42);
  border: linear-gradient(#292c2e, #202224);
  color: #666;
}
meta.textfield {
  background-color: #202224;
  border-color: #17181a;
}
meta.accent {
  color: #36aaf7;
}

/*
* Document styles
*/

meta.document {
  background-color: #282c33;
  border-color: rgba(0, 0, 0, 0.1);
}
meta.document.button {
  background: linear-gradient(#3c3f42, #323538);
  border: linear-gradient(#1c1d1f, #121314);
}
meta.document.button.disabled {
  background: linear-gradient(rgba(50, 52, 56, 0.3), rgba(50, 52, 56, 0.3));
}
meta.document.button.highlighted {
  background: linear-gradient(#53575c, #494e52);
}
meta.document.textfield {
  background-color: #17181a;
  border-color: #0e0f0f;
}

/* Text */

meta.text {
  color: #abb2bf;
}
meta.text.invisible {
  color: #3b4047;
}
meta.text.selected {
  background-color: #3e4452;
}

/* Cursor */
meta.cursor {
  background-color: #2c313b;
}

/* Indentation Guides */
meta.indentguide {
  border-color: #3b4047;
}

/* Gutter */
meta.gutter {
  color: $gray-dark;
}
meta.gutter.selected {
  background-color: #333842;
  color: $gray-dark-selected;
}

/*
* Syntax styles
*/

keyword {
  color: $magenta;
}
comment {
  color: $gray;
}
processing {
  color: #667380;
}
declaration {
  color: $white;
}
bracket {
  color: $white;
}
operator {
  color: $magenta;
}
invalid {
  background-color: #f52c3d;
  color: #f7f7f0;
}
link {
  color: $cyan;
}

/* Values */
value.boolean,
value.null,
value.number,
value.entity {
  color: $orange;
}

value.symbol {
  color: $blue;
}

/* Identifiers */
identifier.type {
  color: #d6b479;
}

identifier.global,
identifier.variable,
identifier.property,
identifier.argument {
  color: $red;
}

identifier.decorator,
identifier.method {
  color: $blue;
}

identifier.function,
identifier.core.function {
  color: $cyan;
}

/* Strings */
string,
string.key,
string-template,
string-template.value {
  color: #99c27c;
}

string.double-quoted.escape,
string.single-quoted.escape,
regex.escaped {
  color: $cyan;
}

cdata {
  color: $blue;
}

/* Markup */
markup.heading {
  color: $red;
}
markup.line {
  color: #bfbf60;
}
markup.bold {
  color: $orange;
  font-weight: bold;
}
markup.italic {
  color: $magenta;
  font-style: italic;
}
markup.strikethrough {
  color: #ff6666;
}
markup.list.item {
  color: #dd6d77;
}
markup.code {
  color: #98c379;
}

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: bold;
  color: $blue;
}

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: $cyan;
}

/* Tags */
tag {
  color: $red;
}
tag.framework {
  color: $red-dark;
}
tag.attribute.name {
  color: $orange;
}
tag.attribute.value {
  color: $green;
}
tag.attribute.value.link {
  color: $cyan;
  text-decoration: underline;
}

/* Styles */

style.at,
style.selector.separator,
style.value.keyword.important,
style.value.keyword.default,
style.selector {
  color: $magenta;
}

style.value.number,
style.value.color.named,
style.selector.pseudoclass,
style.selector.pseudoelement,
style.selector.attribute.name,
style.selector.operator,
style.selector.attribute.single,
style.selector.identifier.class {
  color: $orange;
}

style.selector.identifier.id {
  color: $blue;
}

style.value.color.hex {
  color: $cyan;
}

style.selector.attribute.pseudoclass,
style.selector.attribute.pseudoelement,
style.attribute.identifier.name,
style.value.identifier.variable,
style.selector.element {
  color: $red;
}

style.value,
style.attribute.name,
style.value.bracket {
  color: $white;
}

/* Python */

python.identifier.argument.name {
  color: $orange;
}

/* Terminal */
terminal.red {
  color: $red;
}
terminal.green {
  color: $green;
}
terminal.yellow {
  color: $yellow;
}
terminal.blue {
  color: $blue;
}
terminal.magenta {
  color: $magenta;
}
terminal.cyan {
  color: $cyan;
}
terminal.white {
  color: $white;
}
